
HW4/dataset.csv
HW4/dictionary.txt
HW4/postings.txt

HW4/dictionary1.txt
HW4/postings1.txt
HW4/dictionary.txt
HW4/postings.txt
HW4/result.txt
HW4/.idea/HW4.iml
HW4/.idea/modules.xml
HW4/.idea/vcs.xml
HW4/__pycache__/utils.cpython-36.pyc
HW4/__pycache__/uk2us.cpython-36.pyc
